# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Local databases & secrets (Crucial for security)
*.db
*.sqlite3
instance/
.env
*.pem
